.main {
  -fx-background-color: radial-gradient(radius 150%, #051937 25%, #375afe 120%);
}

.title {
  color: white;
  -fx-color: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.65), 4, 0, 0, 0);
}

.btn {
  -fx-padding: 25px 40px;
  -fx-background-color: transparent;
  -fx-border: 1px;
  -fx-border-color: white;
  -fx-border-radius: 6;
  -fx-text-fill: white;
}

.btn:hover {
  -fx-background-color: white;
  -fx-background-radius: 6;
  -fx-text-fill: #0E6BBA;
}